$dividerBreakpoint: 'tablet-portrait-up';

.divider {
	@include for-size($dividerBreakpoint) {
		display: flex;
		gap: $gutter * 1.5;
	}

	&__article {
		flex: 1 1 50%;
		display: flex;
		flex-flow: column;
		margin-bottom: $gutter * 1.5;
	}

	&__aside {
		flex: 1 1 50%;
		margin-bottom: $gutter * 1.5;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__headline {
		margin-bottom: $gutter * 2;
	}

	&__teaser {
		margin-bottom: $gutter;
	}

	&__text {
		margin-bottom: $gutter;
	}

	&__cta a {
		margin-top: 0;
	}

	&--mirrored {
		flex-direction: row-reverse;
	}

	&--3-4 {
		justify-content: space-between;

		.divider__article {
			@include for-size($dividerBreakpoint) {
				flex: 0 1 calc((100% / 12) * 6);
				margin-left: $gutter / 2;
			}

			@include for-size(desktop-up) {
				flex: 0 1 calc((100% / 12) * 4);
				margin-right: calc((100% / 12) * 2);
			}
		}

		.divider__aside {
			@include for-size($dividerBreakpoint) {
				flex: 0 1 calc((100% / 12) * 5);
				margin-right: $gutter / 2;
			}

			@include for-size(desktop-up) {
				flex: 0 1 calc((100% / 12) * 3);
				margin-left: calc((100% / 12) * 2);
			}
		}
	}

	&--4-3 {
		justify-content: space-between;

		.divider__article {
			@include for-size($dividerBreakpoint) {
				flex: 0 1 calc((100% / 12) * 6);
				margin-right: $gutter / 2;
			}

			@include for-size(desktop-up) {
				flex: 0 1 calc((100% / 12) * 4);
				margin-left: calc((100% / 12) * 2);
			}
		}

		.divider__aside {
			@include for-size($dividerBreakpoint) {
				flex: 0 1 calc((100% / 12) * 5);
				margin-left: $gutter / 2;
			}

			@include for-size(desktop-up) {
				flex: 0 1 calc((100% / 12) * 3);
				margin-right: calc((100% / 12) * 2);
			}
		}
	}
}

.early-break {
	display: block;

	@include for-size(tablet-landscape-up) {
		display: flex;
	}
}

.dont-break {
	display: flex;
}
