.object-element {
	.object-element {
		margin-left: 0;
		margin-right: 0;
	}
}

.main-content {
	& > .object-element {
		@include outer-border;

		& > p:last-of-type {
			margin-bottom: $gutter * 3;
		}

		& > h1 {
			margin-bottom: $gutter;
		}

		& > h2 {
			margin-bottom: $gutter / 2;
		}

		& > h3 {
			margin-bottom: $gutter / 2;
		}

		& > figure {
			margin-bottom: $gutter * 3;
		}

		&:first-of-type {
			margin-top: var(--header-height);
		}
	}
}
