/**
 * src/css/mixins/_vertical_rhythm.scss
 */

// Vertical Rhythm
$base-font-size: 1rem;
$vertical-unit: $base-font-size * 1.5; // "vertical unit"


// Modular scale (Font sizes)
$type-scale: (
	0: 1, // text
	1: 1.14, // Nav
	2: 1.8, // Sub-Headline
	3: 2.5, // Headline
	4: 3.2, // Big-Headline
);

$line-heights: (
	0: 1,
	1: 1.25,
	2: 1.75,
	3: 2.0,
	4: 2.5,
);

@function type-scale($level) {
	@return strip-unit(map-get($type-scale, $level)) * $base-font-size;
}

@function line-height($level) {
	@return strip-unit(map-get($line-heights, $level)) * $vertical-unit;
}

@mixin type-setting($level:0, $margin-bottom:1) {
	$font-size:type-scale($level);
	// $vertical-unit: line-height($level);
	// $line-height:($vertical-unit / $font-size);

	font-size: $font-size;
	font-size: slope-rem-minmax($font-size * 0.95, $font-size * 1.125, 720px, 2200px);
	line-height: 1em * strip-unit($vertical-unit); //$line-height;
	margin-bottom: $vertical-unit * $margin-bottom; //($line-height * $margin-bottom / 2) + em;
}
