/**
 * _settings.scss
 */

/**********
 * Colors *
 **********/

$primary-color:#263E10;
$accent-color:#F3EEE6;

$text-color:#303036;

$white: #fff;
$black: #000;



/************
 * Measures *
 ************/

$gutter:1rem;
$header-height:100px;
$inner-bound-width: 1320px;



/********************
 * Options/Switches *
 ********************/
$debug-base-line-grid:false;
