/**
 * partials/_common.scss
 *
 * Common styles, like e.g. resets, basic styles...
 */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 900px;
	margin: 4rem auto;
	background: grey;
	font-family: sans-Serif;
}

.main-content {
	background: white;
	padding: 1rem;
	border-radius: 0.5rem;
}
