.main-footer {
  background: $accent-color;
  margin-top: auto;
	color: $contrast-color;
	overflow: hidden;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	padding: 2 * $gutter 0;

	li {
		list-style: none;
	}
}

.contact-info {
	a {
		@include text;
	}

	.stack {
		min-width: 32ch;
	}
}

.additional-links {
	margin-top: $gutter * 2;

	@include for-size(tablet-landscape-up) {
		justify-self: flex-end;
		align-self: flex-end;
		margin-left: auto;
	}

	li {
		margin: 0 $gutter;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}
