.menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
	bottom: 0;

	padding: $gutter * 1.5 0;
	@include outer-border;
	max-width: min-content;

	.icon {
		border: none;
		background: none;
		height: 100%;
		width: 82px;
		width: calc(#{$header-height} - #{$gutter * 2.75});
		cursor: pointer;

		&:active {
			opacity: 0.6;
		}
	}

	svg {
		display: block;
		margin-left: auto;
		margin-right: 0;
		width: auto;
		height: 100%;

		stroke: $accent-color;
		stroke-width: 12;
		stroke-linecap: round;

		#cross {
			opacity: 0;
		}
	}

	@include for-size(tablet-landscape-up) {
		display: none;
	}
}

.mobile-nav {
	// width: 100vh;
	position: relative;
	z-index: -1;
	overflow: hidden;
	display: block;
	@include backdrop;

	transform: translate(0, -1px);
	@include for-size(tablet-portrait-up) { transform: translate(0); }
	@include for-size(tablet-landscape-up) { display: none; }

	transition: 500ms ease-in-out;
	max-height: 0;

	&--open {
		max-height: 75vh;
	}

	&__wrapper {
		@include outer-border;
		margin-top: $margin-top;
		margin-bottom: $margin-bottom;
	}

	&__list {
		@include headline;
		font-size: slope-rem-minmax(2rem, 3.2rem, 320px, 600px);
		list-style: none;
		text-align: center;
	}

	&__item {
		margin: $gutter 0;
	}
}
