/**
 * _settings.scss
 */

/**********
 * Colors *
 **********/

$primary-color: #D69400;
$accent-color: #292929;
$contrast-color: #FFFFFF;

$error-color: #c61932;

$text-color: darken($accent-color, 4%);
$light-accent-color: lighten($accent-color, 42%);


/************
 * Measures *
 ************/

$gutter:1rem;
$header-height: var(--header-height);
$inner-bound-width:78rem;

$section-height: var(--max-browser-height);

$stroke-width: $gutter*0.125;

$outer-border: $gutter*2;

$margin-top: $gutter * 3;
$margin-bottom: $gutter * 6;

/********************
 * Options/Switches *
 ********************/
$debug-base-line-grid:false;
