/**
 * main.scss
 */

@import "settings";
@import "partials/webfonts";

@import "libhalma/libhalma";
@import "components/center-nav";
@import "partials/common";
@import "partials/typography";
@import "partials/header";
@import "partials/footer";
@import "partials/layoutmode";
@import "components/start_slider";
@import "components/object_elements";
@import "components/divider";
@import "components/showcase";
