@font-face { 
	font-family: 'EBGaramond';
	font-style: normal;
	font-display: swap;
	font-variant: common-ligatures;
  src: url('/dist/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
}
@font-face { 
	font-family: 'EBGaramond';
	font-style: italic;
	font-display: swap;
	font-variant: common-ligatures;
  src: url('/dist/fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face { 
	font-family: 'Allura';
	font-display: swap;
  src: url('/dist/fonts/Allura-Regular.ttf') format('truetype');
}